
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'mobile_ServiceBooking_list' %}">
    ServiceBooking Listing
    </a>
</p>
    
<form method="post">
{% csrf_token %}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="created">created: </label>
  <input class="form-control col-sm-10" id="created" type="date" name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
  <input class="form-control col-sm-10" id="last_updated" type="date" name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="check_out_date_time">check_out_date_time: </label>
  <input class="form-control col-sm-10" id="check_out_date_time" type="date" name="check_out_date_time" value="{{ object.check_out_date_time }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="end_date_time">end_date_time: </label>
  <input class="form-control col-sm-10" id="end_date_time" type="date" name="end_date_time" value="{{ object.end_date_time }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="check_in_date_time">check_in_date_time: </label>
  <input class="form-control col-sm-10" id="check_in_date_time" type="date" name="check_in_date_time" value="{{ object.check_in_date_time }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="start_date_time">start_date_time: </label>
  <input class="form-control col-sm-10" id="start_date_time" type="date" name="start_date_time" value="{{ object.start_date_time }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}